<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>CESTA</title>
        
        <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
        <link rel="stylesheet" type="text/css" href="../nothingNew.css">
        <link rel="stylesheet" href="../bootstrap.min.css">
        <script src="../jquery.min.js"></script>
        <script src="../bootstrap.min_cloudfare.js"></script>
        <script src="../bootstrap.min.js"></script>
    
</head>
